extends layout

block content
  h1 #{server} | Project prefix: #{projectPrefix} | Updated: #{updated}

  ul
      each build in builds
          li.failed
              img(src='http://#{server}/app/rest/builds/buildType:(id:#{build.latestBuild.buildTypeId})/statusIcon')
              | #{build.projectName}
              | :: #{build.name}
              // | :: #{build.latestBuild.status}