extends layout

block content
  p server: #{server}
  p prefix: #{prefix}
  p results: #{builds.length}

  ul
      each build in builds
          li
            | #{build.projectName} :: #{build.name} :: #{build.latestBuild.status}
            //img(src='http://#{server}/app/rest/builds/buildType:(id:#{build.buildTypeId})/statusIcon')
            //| #{build.status} - #{build.buildTypeId}


